/*start global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1000px;
    margin: auto;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.special-head {
    position: relative;
}

.special-head::after {
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    width: 40px;
    border-bottom: 1px solid #333;
}

/*end global*/
/*start navigation bar*/
.navbar {
    height: 0;
    color: #fff;
    position: relative;
    z-index: 3;
}

.navbar .brand {
    float: left;
}

.navbar .brand h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.navbar .links {
    float: right;
    margin-top: 18px;
}

.navbar .links li {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.navbar .links li a {
    text-decoration: none;
    color: #fff;
}

.navbar .links li a.active {
    color: #1abc9c;
    text-decoration: underline;
}

.navbar .links li a:hover {
    text-decoration: underline;
    color: #1abc9c;
}

/*end navigation bar*/
/*start header*/
.header {
    background: url(../img/header3.jpg);
    background-size: cover;
    position: relative;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
    height: 100% !important;
    text-align: center;
}

.header .bx-wrapper .bx-viewport {
    height: 100% !important;
}

.bx-wrapper .bx-controls-direction a {
    border: 1px solid #1abc9c;
    border-radius: 50%;
}

.header .bxslider {
    height: 100%;
}

.header .bxslider li {
    display: block;
    color: #fff;
}

/*end header*/
/*start our services*/
.services {
    padding: 40px 0;
}

.services h2 {
    font-weight: normal;
}

.services .item {
    overflow: hidden;
    float: left;
    width: 30%;
    margin-right: 3%;
}

.services .item i {
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 20px;
    color: #1abc9c;
}

.services .item .info {
    float: left;
    width: 75%;
}

.services .item .info h3 {
    font-size: 17px;
    color: #333;
}

.services .item .info p {
    color: #555;
    text-align: justify;
}

.separator {
    display: block;
    margin: 30px 0;
}

.our-team .box:first-child {
    float: left;
    width: 34%;
    margin-right: 1%;
}

.our-team .box:first-child h2 {
    font-weight: normal;
}

.our-team .box:first-child p {
    line-height: 1.9;
    text-align: justify;
    color: #555;
}

.our-team .box:not(:first-child) {
    float: left;
    width: 15.25%;
    margin-right: 1%;
    margin-top: 70px;
    line-height: 0;
    position: relative;
}

.our-team .box:not(:first-child) img {
    width: 100%;
    border: 1px solid #1abc9c;
    padding: 1px;
}

.our-team .box:not(:first-child) .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 6;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.7);
    color: #fff;
    display: none;
}

.our-team .box:not(:first-child) .overlay h3 {
    font-weight: normal;
}

.our-team .box:not(:first-child):hover .overlay {
    display: block;
}

/*end our services*/
/*start testimonials*/
.testim {
    margin: 30px 0;
    padding: 60px 0;
    background: url(../img/testimonials.jpg);
    height: 400px;
    background-size: cover;
    position: relative;
    text-align: center;
}

.testim .t-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.testim h2 {
    font-size: 40p;
    margin: 60px 0;
}

.testim q {
    font-size: 20px;
    font-style: italic;
    line-height: 2;
}

.testim span {
    display: block;
    margin: 40px 0;
}

.testim .slider>div {
    display: none;
}

.testim .slider .active {
    display: block;
}

/*end testimonials*/
/*start our project*/
.our-project {
    padding: 40px 0;
}

.our-project h2 {
    font-weight: normal;
}

.our-project ul {
    margin: 30px 0;
}

.our-project ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.our-project ul li.selected {
    background-color: #1abc9c;
    color: #fff;
}

.our-project ul li:hover {
    color: #fff;
    background-color: #1abc9c;
}

.our-project .row {
    float: left;
    width: 31.5%;
    margin-right: 1.5%;
    margin-top: 13px;
    line-height: 0;
    position: relative;
}

.our-project .row img {
    width: 100%;
}

.our-project .row .over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 8;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.7);
    color: #fff;
    display: none;
}

.our-project .row .over .heart {
    position: absolute;
    top: 95px;
    right: 10px;
}

.our-project .row:hover .over {
    display: block;
}

/*end our project*/
/*start footer*/
.footer {
    padding: 40px 0;
    background-color: #232323;
    color: #6c6c6c;
    overflow: hidden;
}

.footer .col {
    width: 23%;
    margin-right: 2%;
    float: left;
}

.footer .col h2 {
    color: #eee;
    font-weight: normal;
    font-size: 18px;
}

.footer .col p {
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 20px;
}

.footer .col i {
    display: inline-block;
    color: #232323;
    font-size: 25px;
    background-color: #eee;
    margin: 5px 5px 20px 0;
    border: 1px solid #eee;
    cursor: pointer;
}

.footer .tags span {
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px;
    margin: 0 5px 7px 0;
    color: #e7e7e7;
}

.footer .recent div {
    overflow: hidden;
}

.footer .recent div img {
    float: left;
    margin: 0 10px 10px 0;
}

.footer .recent div h4 {
    margin: 5px;
    color: #e7e7e7;
    font-weight: normal
}

.footer .blog ul li {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #1abc9c;
    margin-bottom: 10px;
}

/*end footer*/